/* Stylesheet */
@import url("https://fonts.googleapis.com/css?family=Nunito|Quicksand");

.about,
.contact {
  background-color: rgba(10, 10, 10, 0.1) !important;
  background-image: none !important;
}

.is-absolute {
  position: absolute;
}

html {
  overflow-y: auto;
}

a:hover {
  text-decoration: none !important;
}
